/* 通用设置 */
body::-webkit-scrollbar {
  display: none;
}

a {
  color: #333333;
}

a:hover {
  color: #333333;
}

p {
  color: #333333;
}

.weui-flex__item {
  text-align: center;
}

.title {
  font-size: 2em;
}

.sub-title {
  font-size: 1.1em;
  color: #666666;
}

#main {
  background-image: url("https://image.idealclover.cn/projects/Life-in-NJU/background/bg5.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-position: center;
}

.mobile-download-button-box {
  margin: 0 auto;
  /*padding: 25px 0;*/
  width: 45%;
}

.large-image-box {
  overflow: hidden;
  margin-bottom: -8px;
  width: 400px;
}

/* mobile端样式 */

/* mobile-header */
#header {
  display: none;
}

/* first-screen */
#first_screen {
  align-items: center;
}

#main-content {
  color: #fff;
  margin-bottom: 30px;
}

#main-content .sub-title,
#main-content .title {
  color: #fff;
}

#first_screen .logo {
  margin-top: 30px;
  width: 20%;
  margin-bottom: 20px;
}

#first_screen #social-box {
  display: none;
  justify-content: center;
  width: 50%;
  margin: 30px auto 0;
}

#mobile-social-box {
  display: flex;
  justify-content: center;
  width: 50%;
  margin: 0 auto 30px;
}

#first_screen #social-box .mobile-un-display,
#mobile-social-box .mobile-un-display {
  display: none;
}

#first_screen #social-box a,
#mobile-social-box a {
  display: inline-block;
}

#first_screen #social-box img,
#mobile-social-box img {
  background: #fff;
  border-radius: 24px;
  width:24;
  height: 24px;
  padding: 6px;
  margin-right: 12px;
}

.pc-display {
  display: none;
}

.mobile-download-button-box img {
  width: 100%;
}

.large-image {
  margin-top: 30px;
  width: 90%;
}

.page-icon {
  width: 12%;
  margin: 10px 0;
}

.weui_ex_page {
  padding-top: 50px;
}

.background-gray {
  background-color: #f7f7f7;
}

.page-homepage .large-image {
  width: 160%;
  position: relative;
  left: -30%;
  bottom: 0;
}

.h20 {
  height: 20px;
}

.h50 {
  height: 50px;
}

.h72 {
  height: 50px;
}

.nine-icon-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 10% 20% 10%;
}

.icon-box {
  width: 30%;
  height: 30%;
  text-align: center;
  margin-top: 20px;
}

.icon-image {
  width: 100%;
}

.icon-text {
  text-align: center;
  font-size: 13px;
}

.page-download {
  background-image: url("/static/web/v8/images/bg_v10.png");
  padding-bottom: 40px;
  -webkit-background-size: cover;
  background-size: cover;
}

#mobile-download-box {
  margin-top: 30px;
}

#mobile-social-box {
  display: flex;
}

.weui-ex-header {
  height: 80px;
  width: 100%;
  background: rgba(255, 255, 255, 0);
}

.weui-ex-header ul li {
  display: inline;
  margin-left: 30px;
  color: #ffffff;
}

.footer-navbar ul li {
  display: inline;
}

.footer-navbar ul li a {
  line-height: 2em;
  color: #212121;
  border-right: #212121 solid 1px;
  padding: 0 5px;
}

.weui-ex-header ul li a {
  line-height: 80px;
}

.weui-ex-header .weui-ex-header-logo {
  font-size: 24px;
  font-weight: bold;
}

#first_screen .download-group {
  display: none;
}

#first_screen .download-group div {
  padding: 7px;
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#first_screen .download-group .qrcode {
  width: 120px;
}

.download-qrcode {
  margin: 30px 0;
}

#page-download-pc-box {
  display: none;
}

#footer {
  /* margin-top: 40px; */
  padding: 12px;
  text-align: center;
  backdrop-filter: blur(20px);
  color: #fff;
}

#footer a{
  color: #fff;
  text-decoration: underline;
}

#footer .footer-navbar a {
  font-size: 14px;
}

#footer .icon-group {
  display: none;
}

#footer .footer-info {
  font-size: 14px;
}

#footer .footer-right {
  display: none;
}

.footer-logo-box {
  width: 82px;
  height: 82px;
  background-color: #fff;
  border-radius: 20px;
}

.footer-logo-box img {
  width: 100%;
}

.footer-text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 10px;
}

#footer .title {
  font-size: 30px;
  color: #212121;
}

#footer .sub-title {
  font-size: 20px;
  color: #757575;
}

.footer-navbar .first {
  padding-left: 0;
}

.footer-navbar .last {
  border-right: 0;
}

.footer-info p {
  color: #212121;
  line-height: 2em;
}

.footer-info p img {
  height: 1.2em;
  margin-bottom: -2px;
}

.footer-qrcode-box {
  margin: 20px;
}

.footer-qrcode-box img {
  width: 120px;
  border: 1px solid #e6e6e6;
}

.footer-qrcode-box p {
  font-size: 15px;
  color: #212121;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 0;
}

.swiper-container {
  --swiper-pagination-color: #ffffff; /* 两种都可以 */
  margin-bottom: 30px;
}

.wechat-tips {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: 0.9;
  z-index: 100;
  height: 100vh;
  width: 100vw;
  background-image: url("https://image.idealclover.cn/projects/Easy-to-Download/open_in_browser_tip_bg.png");
  background-size: 90% auto;
  background-repeat: no-repeat;
  background-position: center 20px;
  display: none;
}

.weui-toast__content {
  color: #fff;
}

/* PC端样式 */
@media screen and (min-width: 1000px) {
  #main {
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }

  #header {
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
  }

  #header .main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    margin: 0 auto;
    width: 950px;
  }

  #header .main a {
    line-height: 60px;
    font-size: 14px;
    margin-right: 18px;
  }

  #header-logo {
    font-size: 24px;
    line-height: 60px;
  }
  #header-logo span {
    color: #ffffff;
  }

  #header-developer span {
    border: 1px #ffffff solid;
    padding: 10px;
    border-radius: 10px;
    color: #ffffff;
  }

  #first_screen {
    display: flex;
    justify-content: center;
  }

  #main-content {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  #main-content:after {
    filter: blur(15px);
  }

  #main-content .title {
    font-size: 3.5em;
  }

  #main-content .sub-title {
    font-weight: 300;
    font-size: 2.5em;
  }

  #first_screen .text-group {
    align-self: center;
    margin-right: 40px;
  }

  #first_screen .logo-box {
    display: none;
  }

  #first_screen .text-group .weui-flex__item {
    text-align: left;
  }

  .mobile-display {
    display: none;
  }

  .pc-display {
    display: block;
  }

  #first_screen .download-group {
    display: flex;
    margin-top: 40px;
    align-items: center;
  }

  #first_screen #social-box {
    max-width: 336px;
    margin: 30px 0 0 0;
    justify-content: flex-start;
    display: flex;
  }

  .mobile-social-group {
    display: none;
  }

  #mobile-social-box {
    display: none;
  }

  #first_screen #social-box .mobile-un-display {
    display: inline-block;
  }

  #first_screen #social-box .wx-qr-float,
  #mobile-social-box .wx-qr-float {
    display: none;
  }

  #first_screen #social-box .wx-qr-float-spam:hover .wx-qr-float {
    display: block;
    position: absolute;
    z-index: 999;
    margin-left: -50px;
  }

  #first_screen #social-box .wx-qr-float-spam:hover .wx-qr-float img {
    width: 120px;
    height: 120px;
    border-radius: 0;
  }

  #first_screen .download-group img {
    border-radius: 8px;
  }

  #first_screen .button-box {
    height: 100%;
    margin: 0 20px;
  }

  #first_screen .button-box a {
    height: 50%;
    display: block;
  }

  #first_screen .button-box img {
    width: 70%;
    padding: 10px 0;
  }

  #mobile-download-box {
    display: none;
  }

  #first_screen .image-group {
  }

  .large-image {
    width: 100%;
  }

  .page-image-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
  }

  .page-image-left .text-group {
    align-self: center;
    width: 50%;
    margin-top: -50px;
  }

  .page-icon {
    width: auto;
  }

  .weui_ex_page .title {
    font-size: 3.5em;
  }

  .weui_ex_page .sub-title {
    font-size: 1.7em;
  }

  .page-image-left .image-group {
    align-self: flex-end;
    width: 50%;
  }

  .page-homepage .large-image {
    width: 900px;
    position: static;
    left: auto;
    bottom: auto;
  }

  .page-homepage .large-image-box {
    text-align: center;
    margin-top: 40px;
  }

  .page-image-right {
    width: 1000px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .page-image-right .text-group {
    width: 50%;
    margin-top: -50px;
  }

  .page-image-right .image-group {
    width: 50%;
  }

  .nine-icon-box {
    width: 1000px;
    margin: 0 auto;
    justify-content: center;
    padding: 80px 0;
  }

  .icon-box {
    width: 15%;
    height: 15%;
    text-align: center;
    margin: 20px;
  }

  .page-download .icon-image {
    width: auto;
  }

  #page-download-mobile-box {
    display: none;
  }

  #page-download-pc-box {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #page-download-pc-box a {
    display: block;
    margin: 10px 20px;
    width: 180px;
  }

  #page-download-pc-box img {
    width: 100%;
  }

  .icon-text {
    font-size: 15px;
  }

  .pc72 {
    height: 50px;
  }

  #footer {
    display: block;
  }

  #footer .content {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  #footer .footer-navbar a {
    font-size: 16px;
  }

  #footer .icon-group {
    display: flex;
    justify-content: left;
  }

  #footer .footer-navbar {
    margin-top: 40px;
  }

  #footer .footer-right {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
